@{
  Layout = "_Layout";
}

<h1><b>Order Details</b></h1>
<br>
<h3>Order of: <i>@Model["order"].Description</i></h3>
<h3>Quantity: <i>@Model["order"].Quantity</i></h3>
<h3>Price: <i>@Model["order"].Price</i></h3>
<h3>Date: <i>@Model["order"].Date</i></h3>
<h3>Vendor: <i>@Model["vendor"].Name</i></h3>
<br>
<br>

<a href="/vendors/@Model["vendor"].Id">Back to vendor order list</a>
